<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974314564169-d44783ek5g8bvkidssgc1r03a4q8f8qq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974314564169-d44783ek5g8bvkidssgc1r03a4q8f8qq</string>
	<key>API_KEY</key>
	<string>AIzaSyDIHTICZjDqtdrOPOfKfoFUa73pInWDLG0</string>
	<key>GCM_SENDER_ID</key>
	<string>974314564169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inbarber.App</string>
	<key>PROJECT_ID</key>
	<string>we-barber</string>
	<key>STORAGE_BUCKET</key>
	<string>we-barber.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974314564169:ios:c6a6ed34e7f72f25e42d98</string>
	<key>DATABASE_URL</key>
	<string>https://we-barber.firebaseio.com</string>
</dict>
</plist>